* {
  box-sizing: border-box;
  margin: 0;
  line-height: 1.4;
}

body,
html {
  height: 100%;
}

body {
  background-color: #3f0097;
  font-family: "Poppins", sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
}

main > div {
  margin: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.code {
  font-family: "IBM Plex Mono", monospace;
}

.highlight {
  color: #ffadb9;
}

.logo {
  position: fixed;
  top: 16px;
  left: 16px;
}

.hidden {
  display: none;
}

#number-input {
  font-size: 2em;
  padding: 16px;
  color: white;
  background-color: #2e016d;
  width: 50%;
  text-align: center;
  font-weight: bold;
}
