* {
  box-sizing: border-box;
  margin: 0;
  line-height: 1.4;
}

body,
html {
  height: 100%;
}

body {
  background-color: #3f0097;
  font-family: "Poppins", sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
}

main > div {
  margin: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.code {
  font-family: "IBM Plex Mono", monospace;
}

.highlight {
  color: #ffadb9;
}

.logo {
  position: fixed;
  top: 16px;
  left: 16px;
}

[x-cloak] {
  display: none;
}

section {
  padding: 16px;
}

#number-input {
  font-size: 2em;
  padding: 16px;
  color: white;
  background-color: #2e016d;
  width: 50%;
  text-align: center;
  font-weight: bold;
}

.time-details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.progress-circle {
  position: relative;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  outline: 4px solid white;
  outline-offset: -1px;
}

.progress-circle::after,
.number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.progress-circle::after {
  content: "";
  width: 330px;
  height: 330px;
  border-radius: inherit;
  outline: inherit;
}

.circle {
  stroke-dasharray: 1230;
  stroke-dashoffset: 1230;
  transform: rotate(-90deg);
}

@keyframes bar-fill {
  100% {
    stroke-dashoffset: 0;
  }
}
